<?xml version="1.0"?>
<config>
    <modules>
        <Macapobres_Crud>
            <version>0.1.3</version>
        </Macapobres_Crud>
    </modules>
    <frontend>
        <routers>
            <macapobres>
                <use>standard</use>
                <args>
                    <module>Macapobres_Crud</module>
                    <frontName>macapobres</frontName>
                </args>
            </macapobres>
        </routers>
        <layout>
            <updates>
                <crud>
                    <file>student.xml</file>
                </crud>
            </updates>
        </layout>
    </frontend>
    <global>
        <blocks>
            <crud>
                <class>Macapobres_Crud_Block</class>
            </crud>
        </blocks>
        <models>
            <crud>
                <class>Macapobres_Crud_Model</class>
                <resourceModel>crud_resource</resourceModel>
            </crud>
            <crud_resource>
                <class>Macapobres_Crud_Model_Resource</class>
                <entities>
                    <student>
                        <table>student</table>
                    </student>  
                </entities>
            </crud_resource>
        </models>       
        <resources>
            <crud_setup>
                <setup>
                    <module>Macapobres_Crud</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </crud_setup>
            <crud_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </crud_write>
            <crud_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </crud_read>
        </resources>   
    </global>
</config>